apiVersion: core.oam.dev/v1beta1
kind: Application
metadata:
  name: frontend-api
  namespace: default
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  components:
    - name: frontend-api
      type: webservice
      properties:
        labels:
          app: frontend-api
        image: ghcr.io/adhatcher/frontend_api:332b34e64e1281413a81c21b25303e84481b84b9
        port: 8080
        env:
          - name: ENVIRONMENT
            value: production
      traits:
        - type: resource
          properties:
            limits:
              cpu: "500m"
              memory: "512Mi"
            requests:
              cpu: "60m"
              memory: "128Mi"
        - type: hpa
          properties:
            min: 1
            max: 5
            cpu:
              type: AverageValue
              value: 100
            mem:
              type: AverageValue
              value: 268435456
        - type: expose
          properties:
            type: ClusterIP
            matchLabels:
              app: frontend-api
            ports:
              - name: http
                port: 8080
                protocol: TCP
        - type: httproute
          properties:
            routeName: frontend-api-route
            hostname: phrases.zeus
            service:
              name: frontend-api
              port: 8080
