apiVersion: core.oam.dev/v1beta1
kind: Application
metadata:
  name: frontend-api
  namespace: phrases
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  components:
    - name: frontend-api
      type: webservice
      properties:
        labels:
          app: frontend-api
        image: ghcr.io/adhatcher/frontend_api:872ba5d5d7b3421ba98ae0de3717687ced75b24f
        port: 8080
        env:
          - name: ENVIRONMENT
            value: production
      traits:
        - type: resource
          properties:
            limits:
              cpu: "500m"
              memory: "512Mi"
            requests:
              cpu: "50m"
              memory: "128Mi"
        - type: hpa
          properties:
            min: 1
            max: 5
            cpu:
              type: AverageValue
              value: 100
            mem:
              type: AverageValue
              value: 268435456
        - type: health-probes
          properties:
            livenessProbe:
              httpGet:
                path: /healthz
                port: 8080
              initialDelaySeconds: 10
              periodSeconds: 10
              timeoutSeconds: 2
              failureThreshold: 3
            readinessProbe:
              httpGet:
                path: /healthz
                port: 8080
              initialDelaySeconds: 5
              periodSeconds: 5
              timeoutSeconds: 2
              failureThreshold: 3
        - type: storage
          properties:
            configMap:
              - name: frontend-config
                mountOnly: false
                data:
                  FLASK_HOST: "0.0.0.0"
                  FLASK_PORT: "8080"
                  API_HOST: "backend"
                  API_PORT: "7070"
                mountToEnvs:
                  - envName: FLASK_HOST
                    configMapKey: FLASK_HOST
                  - envName: FLASK_PORT
                    configMapKey: FLASK_PORT
                  - envName: API_HOST
                    configMapKey: API_HOST
                  - envName: API_PORT
                    configMapKey: API_PORT
        - type: expose
          properties:
            type: ClusterIP
            matchLabels:
              app: frontend-api
            ports:
              - name: http
                port: 8080
                protocol: TCP
        - type: httproute
          properties:
            routeName: frontend-api-route
            hostname: phrases.zeus
            service:
              name: frontend-api
              port: 8080
