apiVersion: core.oam.dev/v1beta1
kind: Application
metadata:
  name: frontend-api
  namespace: default
spec:
  components:
    - name: frontend-api
      type: webservice
      properties:
        labels:
          app: frontend-api
        image: ghcr.io/adhatcher/frontend_api:51fac27d62359a0ed6ba80187e96a23dfd19e837
        port: 8080
        env:
          - name: ENVIRONMENT
            value: production
      traits:
        - type: resource
          properties:
            limits:
              cpu: "500m"
              memory: "512Mi"
            requests:
              cpu: "60m"
              memory: "128Mi"
        - type: hpa
          properties:
            min: 1
            max: 5
            cpu:
              type: AverageValue
              value: 100
            mem:
              type: AverageValue
              value: 256Mi
        - type: expose
          properties:
            type: ClusterIP
            matchLabels:
              app: frontend-api
            ports:
              - name: http
                port: 8080
                protocol: TCP
