apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: frontend-api
  namespace: argocd
spec:
  description: Frontend API deployment project
  sourceRepos:
    - https://github.com/adhatcher/frontend_api.git
  destinations:
    - namespace: default
      server: https://kubernetes.default.svc
  clusterResourceWhitelist:
    - group: "*"
      kind: "*"
  namespaceResourceWhitelist:
    - group: "*"
      kind: "*"
